[Desktop Entry]
Name=Microsoft Office Excel 2007
Exec=env WINEPREFIX="/home/unop/.wine" wine "C:\\Program Files\\Microsoft Office\\Office12\\EXCEL.EXE" 
Type=Application
StartupNotify=true
Comment=Perform calculations, analyze information, and visualize data in spreadsheets by using Microsoft Office Excel.
Icon=/home/unop/.local/share/icons/9ede_xlicons.0.png
