[submodule   ".tmux/plugins/tpm"]
        path = .config/tmux/plugins/tpm
        url = https://github.com/tmux-plugins/tpm.git

[submodule ".config/vim/bundle/markdown-preview"]
	path = .config/vim/bundle/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim.git

