[submodule   ".tmux/plugins/tpm"]
        path = .config/tmux/plugins/tpm
        url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/submodules/octo"]
	path = .config/submodules/octo
	url = https://github.com/shalomb/octo
[submodule ".config/submodules/fetch-me"]
	path = .config/submodules/fetch-me
	url = https://github.com/shalomb/fetch-me
