[submodule "bundle/tmux-navigator"]
	path = bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/VimOrganizer"]
	path = bundle/VimOrganizer
	url = https://github.com/hsitz/VimOrganizer.git
[submodule "bundle/orgmode"]
	path = bundle/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/ghmarkdown"]
	path = bundle/ghmarkdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "bundle/arpeggio"]
	path = bundle/arpeggio
	url = https://github.com/kana/vim-arpeggio.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/ps1"]
	path = bundle/ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/dragvisuals"]
	path = bundle/dragvisuals
	url = https://github.com/shinokada/dragvisuals.vim.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/sleuth"]
	path = bundle/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/streppone--css"]
	path = bundle/streppone--css
	url = https://github.com/vim-scripts/css.vim--Streppone.git
[submodule "bundle/drawit"]
	path = bundle/drawit
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "bundle/iptables"]
	path = bundle/iptables
	url = https://github.com/vim-scripts/iptables.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/netrw"]
	path = bundle/netrw
	url = https://github.com/vim-scripts/netrw.vim.git
[submodule "bundle/mauke-perl"]
	path = bundle/mauke-perl
	url = https://github.com/vim-scripts/perl-mauke.vim.git
[submodule "bundle/perlprove"]
	path = bundle/perlprove
	url = https://github.com/vim-scripts/perlprove.vim.git
[submodule "bundle/sharp-indent"]
	path = bundle/sharp-indent
	url = https://github.com/vim-scripts/sharp-Indent.git
[submodule "bundle/fsharp-plugin"]
	path = bundle/fsharp-plugin
	url = https://github.com/vim-scripts/sharp-Syntax--Rim.git
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/supertab-continued"]
	path = bundle/supertab-continued
	url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/underlinetag"]
	path = bundle/underlinetag
	url = https://github.com/vim-scripts/underlinetag.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/vis"]
	path = bundle/vis
	url = https://github.com/vim-scripts/vis.git
[submodule "bundle/vst"]
	path = bundle/vst
	url = https://github.com/vim-scripts/VST.git
[submodule "bundle/hardmode"]
	path = bundle/hardmode
	url = https://github.com/wikitopian/hardmode.git
[submodule "bundle/switch"]
	path = bundle/switch
	url = https://github.com/AndrewRadev/switch.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/sol"]
	path = bundle/sol
	url = https://github.com/kshenoy/vim-sol.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/github-colorscheme"]
	path = bundle/github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/gabrielelana/vim-markdown.git
[submodule "bundle/calendar-vim"]
	path = bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
