[Desktop Entry]
Encoding=UTF-8
Exec=gmenu-simple-editor
Icon=gnome-main-menu
Name=Menu Editor
Name[af]=Kieslysredigeerder
Name[ar]=محرر القوائم
Name[as]=তালিকা সম্পাদক
Name[ast]=Editor del Menú
Name[be@latin]=Redaktar menu
Name[be]=Рэдактар мэню
Name[bg]=Редактор на менюта
Name[bn]=মেনু সম্পাদক
Name[bn_IN]=মেনু সম্পাদক
Name[br]=Aozer al lañseroù
Name[ca]=Editor del menú
Name[crh]=Menü Muarriri
Name[cs]=Editor nabídek
Name[cy]=Golygydd Dewislen
Name[da]=Menuredigering
Name[de]=Menüeditor
Name[dz]=དཀར་ཆག་ཞུན་དགཔ།
Name[el]=Επεξεργαστής μενού
Name[en_CA]=Menu Editor
Name[en_GB]=Menu Editor
Name[eo]=Menua redaktilo
Name[es]=Editor del menú
Name[et]=Menüüredaktor
Name[eu]=Menu-editorea
Name[fa]=ویرایشگر منو
Name[fi]=Valikkomuokkain
Name[fr]=Éditeur de menus
Name[fur]=Modificadôr di menu
Name[ga]=Eagarthóir na Roghchlár
Name[gl]=Editor de menú
Name[gu]=મેનુ સંપાદક
Name[ha]=Editar Mazaɓa
Name[he]=עורך תפריטים
Name[hi]=मेन्यू संपादक
Name[hr]=Uređivač izbornika
Name[hu]=Menüszerkesztő
Name[hy]=Ցանկի Խմբագրիչ
Name[id]=Penyunting Menu
Name[ig]=Odezi menu
Name[io]=Menuala Editilo
Name[is]=Valmyndaritill
Name[it]=Modifica menù
Name[ja]=メニュー・エディタ
Name[ka]=მენუს ედიტორი
Name[kk]=Мәзір дұрыстаушысы
Name[kn]=ಮೆನು ಸಂಪಾದಕ
Name[ko]=메뉴 편집기
Name[ku]=Edîtorê Pêşekê
Name[ky]=Меню оңдогучу
Name[lt]=Meniu redaktorius
Name[lv]=Izvēlņu redaktors
Name[mai]=मेनू संपादक
Name[mg]=Mpanova karazan-tsafidy
Name[mk]=Уредувач за менија
Name[ml]=മെനു മാറ്റുന്നിടം
Name[mn]=Цэс засварлагч
Name[mr]=मेनू संपादक
Name[nb]=Menyredigering
Name[ne]=मेनु सम्पादक
Name[nl]=Menu-editor
Name[nn]=Menyredigerar
Name[oc]=Editor de menuts
Name[or]=ତାଲିକା ସମ୍ପାଦକ
Name[pa]=ਮੇਨੂ ਸੰਪਾਦਕ
Name[pl]=Edytor menu
Name[ps]=غورنۍ سمونګر
Name[pt]=Editor de Menus
Name[pt_BR]=Editor do Menu
Name[ro]=Editor meniu
Name[ru]=Редактор меню
Name[si]=මෙනු සංස්කරණය
Name[sk]=Editor ponúk
Name[sl]=Urejevalnik menijev
Name[sq]=Ndryshues Menuje
Name[sr@latin]=Uređivač menija
Name[sr]=Уређивач менија
Name[sv]=Menyredigerare
Name[ta]=பட்டியல் திருத்தி
Name[te]=జాబితాను సరిచేయునది
Name[th]=แก้ไขเมนู
Name[tr]=Menü Düzenleyicisi
Name[ug]=تەھرىرلىگۈچ Menu
Name[uk]=Редактор меню
Name[uz@cyrillic]=Меню таҳрирчиси
Name[vi]=Bộ sửa trình đơn
Name[yo]=Olótùú Àtòjọ-ẹ̀yàn
Name[zh_CN]=菜单编辑器
Name[zh_HK]=選單編輯器
Name[zh_TW]=選單編輯器
NoDisplay=false
StartupNotify=true
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=gnome-menus
