[Desktop Entry]
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Comment=Import the photos on your camera card
Exec=sh -c 'gvfs-mount -u "%U"; exec gthumb --import-photos'
GenericName=Photo Import Tool
Icon=gthumb
MimeType=x-content/image-dcf;x-content/image-picturecd;
Name=gThumb Photo Import Tool
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=gthumb
X-GNOME-DocPath=gthumb/gthumb.xml
