[Desktop Entry]
Exec=seahorse-tool --decrypt
MimeType=application/pgp-encrypted;
Name=Decrypt File
Name[ar]=استخرج تعمية الملف
Name[as]=ফাই ডিক্ৰিপ্ট কৰক
Name[be@latin]=Rasšyfruj fajł
Name[bg]=Дешифриране на файл
Name[bn_IN]=ফাই ডিক্রিপ্ট করুন
Name[ca]=Desxifra un fitxer
Name[cs]=Dešifrovat soubor
Name[da]=Dekryptér en fil
Name[de]=Datei entschlüsseln
Name[dz]=གསང་བཤོལ་ཡིག་སྣོད་
Name[el]=Αποκρυπτογράφηση αρχείου
Name[en_CA]=Decrypt File
Name[en_GB]=Decrypt File
Name[es]=Descifrar fichero
Name[et]=Faili lahtikrüptimine
Name[eu]=Desenkriptatu fitxategia
Name[fi]=Pura tiedosto
Name[fr]=Déchiffrer le fichier
Name[ga]=Díchriptigh Comhad
Name[gl]=Descifrar ficheiro
Name[gu]=ફાઈલ ડિક્રિપ્ટ કરો
Name[he]=פענח קובץ
Name[hi]=फाइल विगोपित करे
Name[hu]=Fájl visszafejtése
Name[it]=Decifra file
Name[ja]=ファイルの復号化
Name[kn]=ಕಡತವನ್ನು ಡೀಕ್ರಿಪ್ಟ್‍ ಮಾಡು
Name[ko]=파일 복호화
Name[lt]=Iššifruoti failą
Name[lv]=Atšifret failu
Name[mk]=Декриптирај датотека
Name[ml]=ഫയല്‍ ഡീക്റിപ്റ്റ് ചെയ്യുക
Name[mr]=फाइल डीक्रीप्ट करा
Name[nb]=Dekrypter fil
Name[ne]=फाइल गुप्तलेखन गर्नुहोस्
Name[nl]=Bestand ontcijferen
Name[nn]=Dekrypter fil
Name[pa]=ਡਿਕ੍ਰਿਪਟ ਫਾਇਲ
Name[pl]=Odszyfrowuje plik
Name[pt]=Desencriptar o Ficheiro
Name[pt_BR]=Descriptografar arquivo
Name[ru]=Расшифровать файл
Name[sl]=Dešifriranje datoteke
Name[sv]=Dekryptera fil
Name[ta]=கோப்பை மறைவிலக்குக
Name[th]=ถอดรหัสลับแฟ้ม
Name[tr]=Dosya şifresini çöz
Name[uk]=Розшифрувати файл
Name[zh_CN]=解密文件
Name[zh_HK]=解密檔案
Name[zh_TW]=解密檔案
NoDisplay=false
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Version=2.26.1
X-GNOME-DocPath=seahorse/seahorse.xml
