[Desktop Entry]
Exec=seahorse-tool --verify
MimeType=application/pgp-signature;
Name=Verify Signature
Name[ar]=تحقق من التوقيع
Name[as]=স্বাক্ষৰ পৰীক্ষণ
Name[be@latin]=Pravier podpis
Name[bg]=Проверка на подпис
Name[bn]=স্বাক্ষর পরীক্ষণ
Name[bn_IN]=স্বাক্ষর পরীক্ষণ
Name[ca]=Verifica una signatura
Name[cs]=Ověřit podpis
Name[da]=Verificér signatur
Name[de]=Signatur-Datei überprüfen
Name[dz]=མིང་རྟགས་འདི་བདེན་སྦྱོར་འབད་
Name[el]=Διαπίστωση υπογραφής
Name[en_CA]=Verify Signature
Name[en_GB]=Verify Signature
Name[es]=Verificar la firma
Name[et]=Allkirja verifitseerimine
Name[eu]=Egiaztatu sinadura
Name[fi]=Varmista allekirjoitus
Name[fr]=Vérifier la signature
Name[gl]=Verificar sinatura
Name[gu]=સહીની ખાતરી કરો
Name[hi]=हस्ताक्षर जांचें
Name[hu]=Aláírás ellenőrzése
Name[it]=Verifica la firma
Name[ja]=シグネチャの検証
Name[kn]=ಸಹಿಯನ್ನು ಪರಿಶೀಲಿಸು
Name[ko]=서명 확인
Name[lt]=Patikrinti parašą
Name[lv]=Pārbaudīt signaturi
Name[mk]=Провери го потписот
Name[ml]=ഒപ്പ് ഉറപ്പാക്കുക
Name[mr]=स्वाक्षरी तपासा
Name[nb]=Verifiser signatur
Name[ne]=हस्ताक्षर रुजु गर्नुहोस्
Name[nl]=Ondertekening verifiëren
Name[nn]=Bekreft signatur
Name[pa]=ਦਸਤਖਤ ਜਾਂਚ
Name[pl]=Weryfikuj podpis
Name[pt]=Verificar Assinatura
Name[pt_BR]=Verificar assinatura
Name[ru]=Проверить подпись
Name[sl]=Overitev podpisa
Name[sv]=Validera signatur
Name[ta]=கையொப்பத்தை சரி பார்க்கவும்
Name[te]=సంతకాన్ని ధృవీకరించు
Name[th]=ตรวจสอบยืนยันลายเซ็น
Name[tr]=İmzayı Doğrula
Name[uk]=Перевірити підпис
Name[zh_CN]=校验签名
Name[zh_HK]=驗證簽署
Name[zh_TW]=驗證簽章
NoDisplay=false
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Version=2.26.1
X-GNOME-DocPath=seahorse/seahorse.xml
