[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=openoffice
Type=Application
InitialPreference=2
Categories=Office;
Exec=soffice
Name=oo.org soffice openoffice.org2
GenericName=Word Processor
GenericName[en]=Word Processor
Comment=Create text documents, spreadsheets, presentations, databases and other types of documents.
X-KDE-Protocols=file,http,smb,ftp,webdav
