[Desktop Entry]
Categories=GNOME;GTK;AudioVideo;Video;Player;
Comment=Play Adobe Flash files
Comment[ar]=شغّل ملفّات أدوبي فلاش
Comment[as]=Adobe Flash ফাইল প্ৰদৰ্শন কৰক
Comment[be@latin]=Hraj fajły Adobe Flash
Comment[bg]=Отваряне на файлове от вида Adobe Flash
Comment[bn_IN]=Adobe Flash ফাইল প্রদর্শন করুন
Comment[ca]=Reprodueix fitxers d'Adobe Flash
Comment[cs]=Přehrává soubory Adobe Flash
Comment[da]=Afspil Adobe Flash-filer
Comment[de]=Adobe-Flash-Dateien abspielen
Comment[el]=Αναπαραγωγή αρχείων Adobe Flash
Comment[en_GB]=Play Adobe Flash files
Comment[es]=Reproduzca archivos Flash de Adobe
Comment[et]=Adobe flash-failide esitamine
Comment[eu]=Erreproduzitu Adobe Flash fitxategiak
Comment[fi]=Toista Adobe Flash -tiedostoja
Comment[fr]=Permet de lire des fichiers Adobe Flash
Comment[gl]=Reproducir ficheiros Flash de Adobe
Comment[gu]=એડોબ ફ્લેશ ફાઇલો વગાડો
Comment[he]=נגן קבצי Flash של Adobe
Comment[hi]=एडोब फ्लैश फाइल चलाएं
Comment[hu]=Adobe Flash fájlok lejátszása
Comment[it]=Riproduce file Adobe Flash
Comment[ja]=Adobe のフラッシュ・ファイルを再生します
Comment[kk]=Adobe Flash файлдарын ойнайды
Comment[kn]=Adobe ಫ್ಲಾಶ್ ಕಡತಗಳನ್ನು ಚಲಾಯಿಸುತ್ತದೆ
Comment[ko]=어도비 플래시 파일을 연주합니다
Comment[ku]=Pelên Adobe Flash lêbide
Comment[lt]=Rodyti Adobe Flash failus
Comment[mk]=Пуштајте Adobe flash датотеки
Comment[ml]=അഡോബി ഫ്ലാഷ് ഫയലുകള്‍ തുറക്കുക
Comment[mr]=Adobe Flash फाइल चालवा
Comment[nb]=Spill Adobe Flash-filer
Comment[nl]=Adobe Flash-bestand afspelen
Comment[nn]=Spel Adobe Flash-filer
Comment[or]=ଏଡୋବ ଫ୍ଲାସ ଫାଇଲଗୁଡ଼ିକୁ ଚଲାନ୍ତୁ
Comment[pa]=ਆਡੋਬ ਫਲੈਸ਼ ਫਾਇਲਾਂ ਚਲਾਓ
Comment[pl]=Odtwarzanie plików Adobe Flash
Comment[pt]=Reproduza Ficheiros do Adobe Flash
Comment[pt_BR]=Reproduz arquivos Adobe Flash
Comment[ro]=Redă fișiere Adoba Flash
Comment[ru]=Проигрывает файлы Adobe Flash
Comment[sl]=Predvajanje Adobe Flash datotek
Comment[sq]=Riprodhon file Adobe Flash
Comment[sr@latin]=Reprodukuje Adobi fleš datoteke
Comment[sr]=Репродукује Адоби флеш датотеке
Comment[sv]=Spela Adobe Flash-filer
Comment[ta]=அடோபி ப்ளாஷ் கோப்புகளை இயக்கு
Comment[th]=เล่นแฟ้มแฟลชของอะโดบี
Comment[tr]=Adobe Flash dosyalarını oynat
Comment[uk]=Відтворює файли Adobe Flash
Comment[vi]=Phát tập tin Adobe Flash
Comment[zh_CN]=播放 Adobe Flash 文件
Comment[zh_HK]=播放 Adobe Flash 檔案
Comment[zh_TW]=播放 Adobe Flash 檔案
Exec=swfdec-player %U
Icon=swfdec-gnome
MimeType=application/x-shockwave-flash;application/futuresplash;
Name=Swfdec Flash Player
Name[ar]=مشغّل الفلاش
Name[as]=Swfdec Flash প্লেয়াৰ
Name[be@latin]=Swfdec Flash Player
Name[bg]=Програма за отваряне на файлове Adobe Flash
Name[bn_IN]=Swfdec Flash প্লেয়ার
Name[ca]=Reproductor de Flash Swfdec
Name[cs]=Přehrávač souborů Flash Swfdec
Name[da]=Swfdec Flashafspiller
Name[de]=Flash-Player
Name[el]=Αναπαραγωγή αρχείων Flash Swfdec
Name[en_GB]=Swfdec Flash Player
Name[es]=Reproductor de Flash Swfdec
Name[et]=Swfdec flashiesitaja
Name[eu]=Swfdec Flash erreproduzitzailea
Name[fi]=Swfdec-Flash-soitin
Name[fr]=Lecteur Flash Swfdec
Name[gl]=Reprodutor Flash Swfdec
Name[gu]=Swfdec ફ્લેશ પ્લેયર
Name[he]=נגן ה-Flash Swfdec
Name[hu]=Swfdec Flash lejátszó
Name[it]=Swfdec - Riproduttore Flash
Name[ja]=Swfdec フラッシュ・プレイヤー
Name[kk]=Flash-файлдар ойнатқышы
Name[kn]=Swfdec ಫ್ಲ್ಯಾಶ್ ಪ್ಲೇಯರ್
Name[ko]=Swfdec 플래시 연주기
Name[ku]=Lêdarê Flash Swfdec
Name[lt]=Swfdec Flash grotuvas
Name[mk]=Swfdec flash плеер
Name[ml]=Swfdec ഫ്ലാഷ് പ്ലയര്‍
Name[mr]=Swfdec फ्लॅश वादक
Name[nb]=Swfdec Flash-avspiller
Name[nl]=Swfdec Flash-speler
Name[nn]=Swfdec Flash-avspelar
Name[or]=Swfdec ଫ୍ଲାସ ଚାଳକ
Name[pa]=Swfdec ਫਲੈਸ਼ ਪਲੇਅਰ
Name[pl]=Odtwarzacz Swfdec Flash
Name[pt]=Reprodutor de Flash Swfdec
Name[pt_BR]=Reprodutor de arquivos Flash
Name[ro]=Player Flash Swfdec
Name[ru]=Проигрыватель Flash-файлов
Name[sl]=Swfdec predvajalnik
Name[sq]=Swfdec - Riprodhues Flash
Name[sr@latin]=Swfdec fleš kutija
Name[sr]=Swfdec флеш кутија
Name[sv]=Swfdec Flash-uppspelare
Name[ta]=Swfdec ப்ளாஷ் இயக்கி
Name[th]=โปรแกรมเล่นแฟลช Swfdec
Name[tr]=Swfdec Flash Oynatıcı
Name[uk]=Програвач Flash-файлів
Name[vi]=Bộ chơi Flash Swfdec
Name[zh_CN]=Swfdec Flash 播放器
Name[zh_HK]=Swfdec Flash 播放器
Name[zh_TW]=Swfdec Flash 播放器
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
