[Desktop Entry]
Type=Application
Name=Microsoft Office PowerPoint
MimeType=application/vnd.ms-officetheme
Exec=wine start /ProgIDOpen OfficeTheme.12 %f
NoDisplay=true
StartupNotify=true
