[Desktop Entry]
Type=Application
Name=Microsoft Office Access
MimeType=application/x-wine-extension-mar
Exec=wine start /ProgIDOpen Access.Shortcut.Report.1 %f
NoDisplay=true
StartupNotify=true
