[Desktop Entry]
Type=Application
Name=Microsoft Office Word
MimeType=application/x-wine-extension-dothtml
Exec=wine start /ProgIDOpen wordhtmltemplate %f
NoDisplay=true
StartupNotify=true
