[Desktop Entry]
Type=Application
Name=notepad
MimeType=application/x-wine-extension-dic
Exec=wine start /ProgIDOpen txtfile %f
NoDisplay=true
StartupNotify=true
