[Desktop Entry]
Type=Application
Name=Microsoft Office Excel
MimeType=text/x-ms-iqy
Exec=wine start /ProgIDOpen iqyfile %f
NoDisplay=true
StartupNotify=true
