[Desktop Entry]
Type=Application
Name=Microsoft Office Access
MimeType=application/x-wine-extension-mad
Exec=wine start /ProgIDOpen Access.Shortcut.Module.1 %f
NoDisplay=true
StartupNotify=true
