[Desktop Entry]
Type=Application
Name=Microsoft Office Excel
MimeType=application/x-wine-extension-xlthtml
Exec=wine start /ProgIDOpen Excelhtmltemplate %f
NoDisplay=true
StartupNotify=true
