[Desktop Entry]
Type=Application
Name=Microsoft Office Outlook
MimeType=text/calendar
Exec=wine start /ProgIDOpen Outlook.File.ics %f
NoDisplay=true
StartupNotify=true
