[Desktop Entry]
Type=Application
Name=Microsoft Office PowerPoint
MimeType=application/vnd.ms-powerpoint.addin.macroEnabled.12
Exec=wine start /ProgIDOpen PowerPoint.Addin.12 %f
NoDisplay=true
StartupNotify=true
