[Desktop Entry]
Type=Application
Name=Microsoft Office Access
MimeType=application/x-wine-extension-mam
Exec=wine start /ProgIDOpen Access.Shortcut.Macro.1 %f
NoDisplay=true
StartupNotify=true
