[Desktop Entry]
Type=Application
Name=Microsoft Office Word
MimeType=application/vnd.ms-word.template.macroenabled.12
Exec=wine start /ProgIDOpen Word.TemplateMacroEnabled.12 %f
NoDisplay=true
StartupNotify=true
