[Desktop Entry]
Type=Application
Name=Microsoft Office PowerPoint
MimeType=application/vnd.openxmlformats-officedocument.presentationml.presentation
Exec=wine start /ProgIDOpen PowerPoint.ShowMacroEnabled.12 %f
NoDisplay=true
StartupNotify=true
