[Desktop Entry]
Type=Application
Name=Microsoft Office Access
MimeType=application/x-wine-extension-mau
Exec=wine start /ProgIDOpen Access.Shortcut.Function.1 %f
NoDisplay=true
StartupNotify=true
