[Desktop Entry]
Type=Application
Name=Microsoft Office Excel
MimeType=text/spreadsheet
Exec=wine start /ProgIDOpen Excel.SLK %f
NoDisplay=true
StartupNotify=true
