[Desktop Entry]
Type=Application
Name=Microsoft Office Word
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document
Exec=wine start /ProgIDOpen Word.DocumentMacroEnabled.12 %f
NoDisplay=true
StartupNotify=true
