[Desktop Entry]
Type=Application
Name=Microsoft Office Access
MimeType=application/x-wine-extension-mat
Exec=wine start /ProgIDOpen Access.Shortcut.Table.1 %f
NoDisplay=true
StartupNotify=true
