[Desktop Entry]
Type=Application
Name=Microsoft Office Excel
MimeType=application/vnd.openxmlformats-officedocument.spreadsheetml.template
Exec=wine start /ProgIDOpen Excel.Template %f
NoDisplay=true
StartupNotify=true
