[Desktop Entry]
Type=Application
Name=Microsoft Office Excel
MimeType=application/vnd.ms-excel
Exec=wine start /ProgIDOpen Excel.Sheet.8 %f
NoDisplay=true
StartupNotify=true
