[Desktop Entry]
Type=Application
Name=Microsoft Office Excel
MimeType=application/vnd.ms-excel.template.macroenabled.12
Exec=wine start /ProgIDOpen Excel.TemplateMacroEnabled %f
NoDisplay=true
StartupNotify=true
