[Desktop Entry]
Type=Application
Name=Microsoft Office PowerPoint
MimeType=application/vnd.openxmlformats-officedocument.presentationml.template
Exec=wine start /ProgIDOpen PowerPoint.Template.12 %f
NoDisplay=true
StartupNotify=true
