[Desktop Entry]
Name=Activision Value Support
Exec=env WINEPREFIX="/home/unop/.wine" wine "C:\\windows\\command\\start.exe" "C:\\Program Files\\Wolfenstein 3D\\Value Support.URL"
Type=Application
StartupNotify=true
Path=/home/unop/.wine/dosdevices/c:/Program Files/Wolfenstein 3D/
Icon=/home/unop/.local/share/icons/8c29_copy(2)ofweb.xpm
