[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=cxoffice-0
NoDisplay=true
Icon=/home/unop/.apps/cxoffice/share/icons/crossover.xpm
Name=Run with CrossOver
Exec=/home/unop/.cxoffice/desktopdata/cxoffice-0/cxassoc/Scripts/cxoffice-0:application_x-crossover-exe::run
Terminal=false
MimeType=application/x-crossover-exe;application/x-ms-dos-executable
