[Desktop Entry]
Encoding=UTF-8
Name=File Management
Name[af]=Lêerbestuur
Name[am]=የፋይል ጉባኤ
Name[ar]=إدارة الملفات
Name[as]=ফাইল ব্যবস্থাপনা
Name[az]=Fayl İdarəsi
Name[be]=Кіраваньне файламі
Name[be@latin]=Kiravańnie fajłami
Name[bg]=Управление на файлове
Name[bn]=ফাইল ব্যবস্থাপনা
Name[bn_IN]=ফাইল ব্যবস্থাপনা
Name[br]=Merañs ar restroù
Name[bs]=Upravljanje datotekama
Name[ca]=Gestió de fitxers
Name[cs]=Správa souborů
Name[cy]=Rheolaeth Ffeiliau
Name[da]=Filhåndtering
Name[de]=Verwaltung von Dateien
Name[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་།
Name[el]=Διαχείριση Αρχείων
Name[en_CA]=File Management
Name[en_GB]=File Management
Name[eo]=Administrado de dosieroj
Name[es]=Gestión de archivos
Name[et]=Failihaldus
Name[eu]=Fitxategi-kudeaketa
Name[fa]=مدیریت پرونده‌ها
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gl]=Xestión de ficheiros
Name[gu]=ફાઈલ વ્યવસ્થાપક
Name[he]=ניהול קבצים
Name[hi]=फ़ाइल प्रबंधन
Name[hr]=Upravljanje datotekama
Name[hu]=Fájlkezelés
Name[hy]=Ֆայլերի կառավարում
Name[id]=Pengaturan Berkas
Name[is]=Skráarstjórnun
Name[it]=Gestione dei file
Name[ja]=ファイル管理
Name[ka]=ფაილების მართვა
Name[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪನೆ
Name[ko]=파일 관리
Name[ku]=Rêvebirina Pelan
Name[li]=Besjtandjwirtsjaf
Name[lt]=Failų tvarkymas
Name[lv]=Failu pārvalde
Name[mg]=Fandrindrana rakitra
Name[mk]=Подредување на датотеки
Name[ml]=രചനാ നടത്തിപ്പ്
Name[mn]=Файлуудыг зохицуулах
Name[ms]=Pengurusan Fail
Name[nb]=Filhåndtering
Name[ne]=फाइल ब्यवस्थापन
Name[nl]=Bestandsbeheer
Name[nn]=Filhandsaming
Name[nso]=Taolo ya Faele
Name[pa]=ਫਾਇਲ ਪਰਬੰਧ
Name[pl]=Zarządzanie plikami
Name[pt]=Gestão de Ficheiros
Name[pt_BR]=Gerenciamento de Arquivos
Name[ro]=Administrare fişiere
Name[ru]=Управление файлами
Name[si]=ගොනු කළමණාකරනය
Name[sk]=Správa súborov
Name[sl]=Upravljanje datotek
Name[sq]=Organizimi i file
Name[sr]=Управљање датотекама
Name[sr@Latn]=Upravljanje datotekama
Name[sr@ije]=Управљање датотекама
Name[sv]=Filhantering
Name[ta]=கோப்பு மேலாண்மை
Name[te]=దస్ర్తాలు నిర్వహణ
Name[th]=การจัดการแฟ้ม
Name[tk]=Faýl Müdirlemegi
Name[tr]=Dosya Yönetimi
Name[uk]=Керування файлами
Name[vi]=Quản lý tập tin
Name[wa]=Manaedjmint des fitchîs
Name[xh]=Ukuphathwa Kweefayili
Name[zh_CN]=文件管理
Name[zh_HK]=檔案管理
Name[zh_TW]=檔案管理
Name[zu]=Ukuphathwa kuhele
Comment=Change the behaviour and appearance of file manager windows
Comment[ar]=غيّر سلوك ومظهر نافذة مدير الملفات
Comment[as]=সর্বমোট ফাইল
Comment[be]=Зьмяніць паводзіны і выгляд вокнаў кіраўніка файлаў
Comment[be@latin]=Źmiena pavodzinaŭ i vyhladu voknaŭ kiraŭnika fajłaŭ
Comment[bg]=Промяна на поведението и изгледа на прозорците на файловия мениджър
Comment[ca]=Canvieu l'aparença i el comportament de les finestres del gestor de fitxers
Comment[cs]=Změnit chování a vzhled oken správce souborů
Comment[da]=Ændr opførslen og udseendet af filhåndteringsvinduer
Comment[de]=Legt das Verhalten und das Aussehen des Dateiverwalters fest
Comment[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པའི་སྒོ་སྒྲིག་ཚུ་གི་ སྤྱོད་ལམ་དང་འབྱུང་སྣང་འདི་བསྒྱུར་བཅོས་འབད་
Comment[el]=Αλλαγή της εμφάνισης και της συμπεριφοράς των παραθύρων του διαχειριστή αρχείων
Comment[en_CA]=Change the behaviour and appearance of file manager windows
Comment[en_GB]=Change the behaviour and appearance of file manager windows
Comment[es]=Cambie el comportamiento y apariencia de las ventanas del gestor de archivos
Comment[et]=Failihalduri akende käitumise ja välimuse muutmine
Comment[eu]=Fitxategi-kudeatzaileen leihoen portaera eta itxura aldatu
Comment[fi]=Muuta tiedostonhallinan ikkunoiden toimintaa ja ulkoasua
Comment[fr]=Changer le comportement et l'apparence des fenêtres du gestionnaire de fichiers
Comment[gl]=Cambie o comportamento e aparencia das ventás do xestor de ficheiros
Comment[gu]=ફાઈલ વ્યવસ્થાપક વિન્ડોની વર્તણૂક અને દેખાવ બદલો
Comment[he]=שנה את ההתנהגות והמראה של חלונות מנהל הקבצים
Comment[hu]=A fájlkezelő ablakok viselkedésének és megjelenésének módosítása
Comment[it]=Cambia il comportamento e l'aspetto delle finestre del file manager
Comment[ja]=ファイル・マネージャの動きとウィンドウの外観を変更します
Comment[ko]=파일 관리자 창의 특성과 모양새를 바꿉니다
Comment[lt]=Keisti failų tvarkyklės langų išvaizdą ir veikimą
Comment[lv]=Izmainīt pārvaldnieka logaizskatu un izturēšanos
Comment[mk]=Смени го однесувањето и изгледот на прозорците на менаџерот за датотеки
Comment[ml]=ഫയല്‍ മാനേജര്‍ ജാലകങ്ങളുടെ കാഴ്ചയും പെരുമാറ്റവും മാറ്റുക
Comment[nb]=Endre oppførsel og utseende for filhåndterervinduer
Comment[nl]=Het gedrag en uiterlijk van de bestandsbeheervensters aanpassen
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਵਿੰਡੋ ਦਾ ਰਵੱਈਆ ਅਤੇ ਦਿੱਖ ਬਦਲੋ
Comment[pl]=Zmiana zachowania i wyglądu okien menedżera plików
Comment[pt]=Alterar o comportamento e aparência das janelas do gestor de ficheiros
Comment[pt_BR]=Altere o comportamento e aparência dos janelas do gerenciador de arquivos
Comment[ro]=Schimbă comportamentul şi aspectul ferestrelor managerului de fişiere
Comment[ru]=Изменить внешний вид и поведение окон диспетчера файлов
Comment[sk]=Zmeniť správanie a vzhľad okien správcu súborov
Comment[sr]=Измени понашање и изглед прозора управљача датотека
Comment[sr@Latn]=Izmeni ponašanje i izgled prozora upravljača datoteka
Comment[sv]=Ändra beteendet och utseendet för filhanterarens fönster
Comment[ta]=கோப்பு மேலாளர் சாளரங்களின் நடத்தை மற்றும் காட்சியை மாற்றுக.
Comment[th]=เปลี่ยนพฤติกรรมและรูปโฉมของหน้าต่างโปรแกรมจัดการแฟ้ม
Comment[uk]=Змінити зовнішній вигляд та поведінку вікон менеджера файлів
Comment[vi]=Thay đổi hành vi và diện mạo của cửa sổ trình quản lý tập tin
Comment[zh_CN]=更改文件管理器窗口的行为和外观
Comment[zh_HK]=改變檔案管理員視窗的行為與外觀
Comment[zh_TW]=改變檔案管理員視窗的行為與外觀
Exec=dolphin
Icon=dolphin
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dolphin
X-GNOME-Bugzilla-Component=Preferences
X-GNOME-Bugzilla-Version=2.20.0
