[Desktop Entry]
Encoding=UTF-8
Name=Open Folder
Name[ar]=افتح مجلّد
Name[as]=ফোল্ডাৰ খুলুন
Name[be]=Адкрыць тэчку
Name[be@latin]=Adčyni kataloh
Name[bg]=Отваряне на папка
Name[bn_IN]=ফোল্ডার খুলুন
Name[ca]=Obre la carpeta
Name[cs]=Otevřít složku
Name[da]=Åbn mappe
Name[de]=Ordner öffnen
Name[dz]=སྣོད་འཛིན་ཁ་ཕྱེ།
Name[el]=Άνοιγμα φακέλου
Name[en_CA]=Open Folder
Name[en_GB]=Open Folder
Name[eo]=Malfermu dosierujon
Name[es]=Abrir carpeta
Name[et]=Kausta avamine
Name[eu]=Ireki karpeta
Name[fi]=Avaa kansio
Name[fr]=Ouvrir le dossier
Name[gl]=Abrir cartafol
Name[gu]=ફોલ્ડર ખોલો
Name[he]=פתח תיקייה
Name[hi]=खुला फ़ोल्डर
Name[hu]=Mappa megnyitása
Name[id]=Buka Folder
Name[it]=Apri cartella
Name[ja]=フォルダを開く
Name[ka]=დასტის გახსნა
Name[kn]=ಕಡತಕೋಶವನ್ನು ತೆರೆ
Name[ko]=열기 폴더
Name[ku]=Peldankê Veke
Name[lt]=Atverti aplanką
Name[lv]=Atvērt mapi
Name[mk]=Отвори датотека
Name[ml]=കൂട തുറക്കുക 
Name[nb]=Åpne mappe
Name[ne]=फोल्डर खोल्नुहोस्
Name[nl]=Map openen
Name[oc]=Dobrir un repertòri
Name[pa]=ਫੋਲਡਰ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz folder
Name[pt]=Abrir Pasta
Name[pt_BR]=Abrir Pasta
Name[ro]=Deschide dosarul
Name[ru]=Открыть папку
Name[si]=බහලුම විවෘත කරන්න
Name[sk]=Otvoriť priečinok
Name[sl]=Odpri mapo
Name[sr]=Отвори фасциклу
Name[sr@Latn]=Otvori fasciklu
Name[sv]=Öppna mapp
Name[ta]=அடைவினை திற
Name[th]=เปิดโฟลเดอร์
Name[tr]=Klasör Aç
Name[uk]=Домашня тека
Name[vi]=Mở thư mục
Name[zh_CN]=打开文件夹
Name[zh_HK]=開啟資料夾
Name[zh_TW]=開啟資料夾
TryExec=dolphin
Exec=dolphin %U
NoDisplay=true
Terminal=false
StartupNotify=true
Type=Application
MimeType=x-directory/gnome-default-handler;x-directory/normal;inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dolphin
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.20.0
OnlyShowIn=GNOME
