[Desktop Entry]
Encoding=UTF-8
Name=CD/DVD Creator
Name[ar]=منشئ CD/DVD
Name[be]=Стваральнік CD/DVD
Name[be@latin]=Stvaralnik CD/DVD
Name[bg]=Създаване на CD/DVD
Name[bn_IN]=CD/DVD নির্মাণ ব্যবস্থা
Name[ca]=Creador de CD/DVD
Name[cs]=Tvůrce CD a DVD
Name[cy]=Crëwr CD/DVD
Name[da]=Cd/dvd-brænder
Name[de]=CD/DVD-Ersteller
Name[dz]=སི་ཌི་/ཌི་བི་ཌི་ གསར་བསྐྲུན་པ།
Name[el]=Δημιουργός CD/DVD
Name[en_CA]=CD/DVD Creator
Name[en_GB]=CD/DVD Creator
Name[es]=Creador de CD/DVD
Name[et]=CD/DVD-kirjutaja
Name[eu]=CD/DVD sortzailea
Name[fa]=سی‌دی/دی‌وی‌دی ساز
Name[fi]=CD/DVD-luontityökalu
Name[fr]=Créateur de CD/DVD
Name[gl]=Creador de CD ou de DVD
Name[gu]=CD/DVD બનાવનાર
Name[he]=יוצר התקליטורים
Name[hi]=CD/DVD सर्जक
Name[hu]=CD/DVD-készítő
Name[id]=Pembuat CD/DVD
Name[it]=Creazione CD/DVD
Name[ja]=CD/DVD の作成
Name[ka]=CD/DVD შემქმნელი
Name[ko]=CD/DVD 만들기
Name[ku]=Afirandêrê CD/DVD'yan
Name[lt]=CD/DVD kūrimas
Name[lv]=CD/DVD Veidotājs
Name[mg]=Mpamorona CD/DVD
Name[mk]=CD/DVD креатор
Name[ml]=സി.ഡി/ഡി.വി.ഡി നിര്‍മ്മാണ സംവിധാനം
Name[mn]=CD/DVD үүсгэгч
Name[nb]=CD/DVD brenner
Name[nl]=Cd/dvd branden
Name[oc]=Creator de CD/DVD
Name[or]=ସି.ଡି./ଡି.ଭି.ଡି. ସ୍ରଷ୍ଟା
Name[pa]=CD/DVD ਨਿਰਮਾਤਾ
Name[pl]=Asystent CD/DVD
Name[pt]=Criador de CD/DVD
Name[pt_BR]=Criador de CD/DVD
Name[ro]=Creare CD/DVD
Name[ru]=Создать CD/DVD
Name[si]=CD/DVD නිර්මාණය
Name[sk]=Tvorca CD/DVD
Name[sl]=Zapisovalec CD/DVD
Name[sq]=Krijuesi i CD/DVD
Name[sr]=Место за израду дискова
Name[sr@Latn]=Mesto za izradu diskova
Name[sv]=Cd/Dvd-skaparen
Name[ta]=குறுவட்டு/DVD உருவாக்கி
Name[th]=เครื่องมือเขียนซีดีและดีวีดี
Name[tr]=CD/DVD Oluşturucu
Name[uk]=Створення CD/DVD
Name[vi]=Bộ Tạo CD/DVD
Name[zh_CN]=CD/DVD 创建者
Name[zh_HK]=CD/DVD 製作程式
Name[zh_TW]=CD/DVD 製作程式
Comment=Open a folder into which you can drag files to burn to a CD or DVD
Comment[ar]=افتح مجلّد يمكنك سحب الملفات إليه لحرقها إلى قرص مدمج أو DVD
Comment[be]=Адкрыць тэчку, у якую можна скапіяваць файлы для запісу на CD альбо DVD
Comment[be@latin]=Adčyniaje kataloh, u jaki možna zakidvać fajły dla zapisu CD albo DVD
Comment[bg]=Отваряне на папка, в която можете да изтеглите файлове и да ги запишете на CD или DVD
Comment[bn_IN]=CD অথবা DVD-র মধ্যে বার্ন করার জন্য ফাইল টেনে আনার উদ্দেশ্যে একটি ফোল্ডার নির্মাণ করুন
Comment[ca]=Obriu una carpeta on podreu arrossegar-hi fitxers per gravar a CD o DVD
Comment[cs]=Otevřít adresář, do kterého můžete přetahovat soubory k vypálení na CD nebo DVD
Comment[da]=Åben en mappe hvori du kan trække filer til som skal skrives til en cd eller dvd
Comment[de]=Öffnet einen Ordner in den Sie Dateien ziehen können, die auf eine CD oder DVD gebrannt werden sollen
Comment[dz]=ཡིག་སྣོད་འདི་སི་ཌི་ཡངན་ཌི་ཝི་ཌི་ལུ་བཙུགས་སྤྱོད་འབད་ནི་ལུ་ ཁྱོད་ཀྱིས་ཡིག་སྣོད་ཚུ་འདྲུད་བཏུབ་པའི་སྣོད་འཛིན་གཅིག་ཁ་ཕྱེ་
Comment[el]=Ανοίγει ένα φάκελο στο οποίο μπορείτε να σύρετε αρχεία για να τα γράψετε σε CD ή σε DVD
Comment[en_GB]=Open a folder into which you can drag files to burn to a CD or DVD
Comment[es]=Abra una carpeta a la que puede arrastrar archivos para grabarlos en un CD o DVD
Comment[et]=Kataloogi avamine, kuhu lohistada CD-le või DVD-le kirjutamiseks mõeldud failid
Comment[eu]=Ireki karpeta bertara fitxategiak arrastatzeko eta CDa edo DVDa grabatzeko
Comment[fi]=Avaa kansio, jonka sisällön voit kirjoittaa helposti CD- tai DVD-levylle
Comment[fr]=Ouvre un dossier dans lequel vous pouvez déposer des fichiers pour les graver sur un CD ou un DVD
Comment[gl]=Abra un cartafol ao que pode arrastrar ficheiros para gravalos nun CD ou DVD
Comment[gu]=ફોલ્ડર ખોલો કે જેમાં તમે CD અથવા DVD માં લખવા માટે ફાઈલો ખેંચી શકો
Comment[he]=פותח תיקייה שלתוכה ניתן לגרור קבצים שמיועדים לצריבה על CD או DVD
Comment[hu]=Mappa megnyitása, amelybe a CD-re vagy DVD-re írandó fájlokat húzhatja
Comment[it]=Apre una cartella in cui trascinare i file da masterizzare su un CD o DVD
Comment[ja]=ファイルをドラッグして CD/DVD を作成できるフォルダを開きます
Comment[ko]=폴더를 열어서 파일을 끌어놓은 후 CD나 DVD로 굽습니다
Comment[lt]=Atverti aplanką, į kurį galima tempti failus, kuriuos norite įrašyti į CD ar DVD
Comment[lv]=Atver mapi, kurā jūš varat pārvilkt failus un mapes, ko vēlaties ierakstīt CD vai DVD diskā
Comment[mk]=Отворете папка во која што ќе влечете датотеки кои ќе се снимаат на CD или на DVD
Comment[nb]=Åpne en mappe hvor du kan dra filer for å brenne en CD eller DVD
Comment[nl]=Een map openen waar u bestanden heen kunt slepen om op een cd of dvd te branden
Comment[or]=ଗୋଟିଏ ସି.ଡି. କିମ୍ବା ଡି.ଭି.ଡି. ଲେଖିବା ପାଇଁ ଆପଣ ଫାଇଲ ମାନଙ୍କୁ ଟାଣିବା ପାଇଁ ଗୋଟିଏ ଫୋଲଡର ଖୋଲନ୍ତୁ
Comment[pa]=ਇੱਕ ਫੋਲਡਰ ਖੋਲ੍ਹੋ, ਜਿਸ ਵਿੱਚ ਤੁਸੀਂ ਇੱਕ CD ਜਾਂ DVD ਉੱਤੇ ਲਿਖਣ ਵਾਸਤੇ ਫਾਇਲ ਸੁੱਟ ਸਕੋ
Comment[pl]=Otwiera folder, do którego można przeciągnąć pliki do nagrania na płycie CD lub DVD
Comment[pt]=Abrir uma pasta para a qual possa arrastar ficheiros para gravar um CD ou DVD
Comment[pt_BR]=Abre uma pasta para a qual você pode arrastar arquivos para gravar um CD ou DVD
Comment[ro]=Deschide un dosar în care puteţi trage fişiere pentru a fi scrise pe CD sau DVD
Comment[ru]=Открывает папку, куда можно перенести файлы и затем записать их на CD или DVD
Comment[si]=CD හෝ DVD නිර්මාණය සඳහා ඔබට ගොනු ඇද දැමිය හැකි බහලුමක් විවෘත කරන්න
Comment[sk]=Otvoriť priečinok, do ktorého môžete potiahnuť súbory pre napálenie na CD alebo DVD
Comment[sl]=Odprite mapo v katero lahko povlečete datoteke za pisanje na CD ali DVD
Comment[sr]=Отвори фасциклу у коју можеш превући датотеке за нарезивање на ЦД или ДВД
Comment[sr@Latn]=Otvori fasciklu u koju možeš prevući datoteke za narezivanje na CD ili DVD
Comment[sv]=Öppna en mapp i vilken du kan dra filer för att bränna till en cd eller dvd
Comment[ta]=ஒரு குறுந்தட்டையோ டிவிடி யையோ உருவாக்க கோப்புகளை இழுத்துவிட ஒரு அடைவை திறங்கள்.
Comment[th]=เปิดโฟลเดอร์ซึ่งคุณสามารถลากแฟ้มต่างๆ มาปล่อยเพื่อเขียนลงซีดีหรือดีวีดีได้
Comment[tr]=İçine CD'ye veya DVD'ye yazılacak dosyaları sürükleyebileceğiniz bir klasör aç
Comment[uk]=Відкрити теку, у яку можна перетягнути файли для запису на CD чи DVD
Comment[vi]=Mở thư mục mà bạn có thể thả tập tin vào để ghi CD hoặc DVD
Comment[zh_CN]=打开一个文件夹，您可将想要刻录到 CD 或 DVD 的文件拖曳至该文件夹
Comment[zh_HK]=開啟一個資料夾，將檔案拖放至其中，以將那些檔案燒錄至 CD 或 DVD
Comment[zh_TW]=開啟一個資料夾，將檔案拖放至其中，以將那些檔案燒錄至 CD 或 DVD
TryExec=nautilus-cd-burner
Exec=dolphin
Icon=nautilus-cd-burner
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;Core;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus-cd-burner
X-GNOME-Bugzilla-Component=cd-burner
