[Desktop Entry]
Type=Application
Name=Microsoft Office PowerPoint
MimeType=application/x-wine-extension-pptxml
Exec=wine start /ProgIDOpen powerpointxmlfile %f
NoDisplay=true
StartupNotify=true
