[Desktop Entry]
Type=Application
Name=Microsoft Office Word
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.template
Exec=wine start /ProgIDOpen Word.Template.12 %f
NoDisplay=true
StartupNotify=true
