[Desktop Entry]
Type=Application
Name=Microsoft Office PowerPoint
MimeType=application/x-wine-extension-ppthtml
Exec=wine start /ProgIDOpen powerpointhtmlfile %f
NoDisplay=true
StartupNotify=true
