[Desktop Entry]
Type=Application
Name=Microsoft Office Excel
MimeType=application/vnd.ms-excel.sheet.binary.macroenabled.12
Exec=wine start /ProgIDOpen Excel.SheetBinaryMacroEnabled.12 %f
NoDisplay=true
StartupNotify=true
