# Corporate domains routed via CorpVPN ZPA nameservers
server=/corp.example/10.0.0.1
server=/corp.example/10.0.0.2
server=/corp.example/10.0.0.3
server=/example.com/10.0.0.1
server=/example.com/10.0.0.2
server=/example.com/10.0.0.3
server=/corp.acquired-b.example/10.0.0.1
server=/corp.acquired-b.example/10.0.0.2
server=/corp.acquired-b.example/10.0.0.3
server=/corp.acquired-a.example/10.0.0.1
server=/corp.acquired-a.example/10.0.0.2
server=/corp.acquired-a.example/10.0.0.3
server=/acquired-c.example/10.0.0.1
server=/acquired-c.example/10.0.0.2
server=/acquired-c.example/10.0.0.3
server=/acquired-e.internal/10.0.0.1
server=/acquired-e.internal/10.0.0.2
server=/acquired-e.internal/10.0.0.3
server=/global.example/10.0.0.1
server=/global.example/10.0.0.2
server=/global.example/10.0.0.3
server=/unit2.example/10.0.0.1
server=/unit2.example/10.0.0.2
server=/unit2.example/10.0.0.3
server=/acquired-f.example/10.0.0.1
server=/acquired-f.example/10.0.0.2
server=/acquired-f.example/10.0.0.3
server=/svc1.global.example/10.0.0.1
server=/svc1.global.example/10.0.0.2
server=/svc1.global.example/10.0.0.3
server=/corp.internal/10.0.0.1
server=/corp.internal/10.0.0.2
server=/corp.internal/10.0.0.3
server=/sub1.corp.internal/10.0.0.1
server=/sub1.corp.internal/10.0.0.2
server=/sub1.corp.internal/10.0.0.3
server=/corp.acquired-c.example/10.0.0.1
server=/corp.acquired-c.example/10.0.0.2
server=/corp.acquired-c.example/10.0.0.3
server=/corp-test.example/10.0.0.1
server=/corp-test.example/10.0.0.2
server=/corp-test.example/10.0.0.3
server=/acquired-e-dev.example/10.0.0.1
server=/acquired-e-dev.example/10.0.0.2
server=/acquired-e-dev.example/10.0.0.3
server=/acquired-e-uat.example/10.0.0.1
server=/acquired-e-uat.example/10.0.0.2
server=/acquired-e-uat.example/10.0.0.3
server=/region1.example/10.0.0.1
server=/region1.example/10.0.0.2
server=/region1.example/10.0.0.3
server=/app1.corp-vpn.example/10.0.0.1
server=/app1.corp-vpn.example/10.0.0.2
server=/app1.corp-vpn.example/10.0.0.3
server=/site2.prod/10.0.0.1
server=/site2.prod/10.0.0.2
server=/site2.prod/10.0.0.3
server=/unit1.acquired-d.example/10.0.0.1
server=/unit1.acquired-d.example/10.0.0.2
server=/unit1.acquired-d.example/10.0.0.3
server=/corp.example.cn/10.0.0.1
server=/corp.example.cn/10.0.0.2
server=/corp.example.cn/10.0.0.3
server=/site1.internal/10.0.0.1
server=/site1.internal/10.0.0.2
server=/site1.internal/10.0.0.3
