body {
  height: 100%;
}

#main {
  border: 1px solid #afafaf;
}

#top {
  border-bottom: 2px solid lightgrey;
  padding: 1em 2em 2em;
  background-color: #afafaf;
}
#bottom
{
	font-size: 100%;
	line-height: 1.5;
	font-family: Tahoma, Arial, sans-serif;
}

#bottom table {
  margin: 0 auto 0 0;
	font-family: Tahoma, Arial, sans-serif;
  font-size: 32pt;
}

#bottom table tr td {
  padding: 0 0.5em;
  color: #444444;
}

#bottom ul li:before {
	content: "\00BB \0020";
}
